# Archivo: frontend/.dockerignore

# Ignorar la carpeta de dependencias de Node
node_modules/

# Ignorar la carpeta de build de Next.js
.next/

# Ignorar logs de NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar dependencias del sistema operativo
.DS_Store

# No incluir el archivo .env local en la imagen
.env*