.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
  padding: 5px 5px 5px 5px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.image {
  object-fit: cover;
}

.content {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.category {
  font-size: 0.75rem;
  font-weight: 600;
  color: #007bff;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  line-height: 1.3;
  color: #007bff;
}

.description {
  font-size: 0.9rem;
  color: #000000;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #343a40;
  align-self: flex-end;
}